<ul class="altnav">
  <li><a class="report" href="/admin/report">Rapor</a></li>
  <li><a class="department" href="/admin/department">Bölüm</a></li>
  <li><a class="period" href="/admin/period">Period</a></li>
  <li><a class="class" href="/admin/class">Sınıf</a></li>
  <li><a class="day" href="/admin/day">Gün</a></li>
</ul>
