<div class="page">
  <h2 id="headline">HOŞGELDİNİZ</h2>
  <br /><br />
  Veritabanının ilgili tablosunu seçiniz.
  <form name="login" action="table" method="POST" id="login"
    enctype="multipart/form-data">
    <table class="custom">
      <tr>
        <td class="label">tablo:</td>
        <td class="field">
          <select name="table">

              <option value="" selected></option>
              <% session[:TABLES].each do |table, key| %>
                <option value="<%= table %>"><%= table %></option>
              <% end %>

          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <%= submit_tag "Seç", :id => "submit_button" %>
        </td>
      </form>
    </div>
  </div>
</div>
