<div class="page">
  <h2 class="magenta">Sistem Hakkındaki Bilgiler</h2>

  <h3 class="magenta">Veritabanı tablolarının açıklaması</h2>
  <table class="custom">
    <tr>
      <td class="label">Admins</td>
      <td class="field">Yönetici bilgilerinin barındırıldığı tablo</td>
    </tr>
    <tr>
      <td class="label">Departments</td>
      <td class="field">Bölüm bilgilerinin barındırıldığı tablo</td>
    </tr>
    <tr>
      <td class="label">Lecturers</td>
      <td class="field">Hocaların bilgilerinin barındırıldığı tablo</td>
    </tr>
    <tr>
      <td class="label">Courses</td>
      <td class="field">Derslerin barındırıldığı tablo</td>
    </tr>
    <tr>
      <td class="label">Classrooms</td>
      <td class="field">Sınıfın barındırıldığı tablo</td>
    </tr>
    <tr>
      <td class="label">Classplans</td>
      <td class="field">Sınıf planlarının barındırıldığı tablo</td>
    </tr>
    <tr>
      <td class="label">Periods</td>
      <td class="field">Senelik periyot (güz-bahar) barındırıldığı tablo</td>
    </tr>
  </table>
</div>
