<div class="page">
  <h2 class="current home">Sistem Hakkındaki Bilgiler</h2>

  <h3 class="magenta">Veritabanı tablolarının açıklaması</h2>
  <table class="custom">
    <tr>
      <td class="label">People</td>
      <td class="field">Yönetici/Kullanıcı gibi bilgilerinin barındırıldığı tablo
              <b>status=0 & department_id=0</b> admin
              <b>status=1</b> görevli
      </td>
    </tr>
    <tr>
      <td class="label">Department</td>
      <td class="field">Bölüm bilgilerinin barındırıldığı tablo</td>
    </tr>
    <tr>
      <td class="label">Lecturer</td>
      <td class="field">Hocaların bilgilerinin barındırıldığı tablo</td>
    </tr>
    <tr>
      <td class="label">Course</td>
      <td class="field">Derslerin barındırıldığı tablo</td>
    </tr>
    <tr>
      <td class="label">Classroom</td>
      <td class="field">Sınıfın barındırıldığı tablo</td>
    </tr>
    <tr>
      <td class="label">Classplan</td>
      <td class="field">Sınıf planlarının barındırıldığı tablo</td>
    </tr>
    <tr>
      <td class="label">Period</td>
      <td class="field">Senelik periyot (güz-bahar) barındırıldığı tablo</td>
    </tr>
    <tr>
      <td class="label">Assignment</td>
      <td class="field">Öğretim görevlisi derslerinin atamalarının barındırıldığı tablo</td>
    </tr>
  </table>
</div>
