<div class="columns generic">

  <div class="column main">
    <h2 style="width:600px"><span class="highlight" style="font-size:19px">Rapor</span> Nedir ?</h2>
    Eğitim öğretim plan sistemi, <%= link_to "akademisyen giriş", "/user" %> paneli ile bilgi girişi sağlar.<br/>
    Her öğretim üyesi için; haftalık, hangi gün hangi saate dersi olduğu, bilgilerini barındıran ders programı bilgisini sunar.
    Her sınıf için; haftalık, hangi dersin kimin tarafından yapılacağı bilgisini sunar.<br/>
  </div>

  <div class="column sidebar">
  </div>

</div>
