a { text-decoration: none; }
img { border: none; }
body { background-color: #bbb; }

#container {
  width:900px;
  margin:auto
  margin:auto;
  position:relative;
  margin:0 auto;
}
#info {

  text-align:   center;
  margin-top:   1px; /* kenar ust dis boslugundan uzakligi */
  font-family:  bold 110% FreeSans, Helvetica, Arial, sans-serif;
}
#info a {
  color:     gray;
  font-size: 70%;
}
#footer {
  margin-top:         170px;     /* ustten ise */
  margin-bottom:      -10px;    /* alttan 1.5 */
  margin-left:        -10px;
  margin-right:       -10px;
  color:              #585858;
  font:               80% "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align:         center;
  padding:            1em;
  background-color:   #eee; /* gray */
  border:             1px solid #bebebe; /* cercevemiz */
}
