<h2>Sınıf Programı Arama</h2>
<%= form_tag :action => 'classplan' do %>
  <table class="custom">
    <tr>
      <td class="label"> Dönem: </td>
      <td class="field"><%= select_tag(:period_id, options_from_collection_for_select(Period.all, :id, :full_name)) %></td>
    </tr>
    <tr>
      <td class="label"> Sınıf: </td>
      <td class="field"><%= select_tag(:classroom_id, options_from_collection_for_select(Classroom.find(:all, :order => 'name'), :id, :name)) %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= submit_tag "Arama Yap", :id => "submit_button" %></td>
    </tr>
  </table>
<% end %>
