<p><style>
  ul {margin-left:20px;}
</style></p>

<h1>Kullanıcı Klavuzu</h1>

<ul>
<li><p>Eğitim öğretim plan sistemi, <a href="http://plan.mf.omu.edu.tr/user">akademisyen giriş</a>
paneli ile bilgi girişi sağlar.</p></li>
<li><p>Her öğretim üyesi için; haftalık, hangi gün hangi saate dersi olduğu,
bilgilerini barındıran ders programı bilgisini sunar.</p></li>
<li><p>Her sınıf için; haftalık, hangi dersin kimin tarafından yapılacağı bilgisini sunar.</p></li>
</ul>

<h2>Sistem Bilgisi</h2>

<p>Sistemde <strong>aktif dönem</strong> durumunu ve <strong>sisteme giriş</strong> durumunu anasayfanın sağ
alt köşesinden de takip edebilirsiniz.</p>

<ul>
<li>Sistemde hiç bir dönem bulunmuyorsa:</li>
</ul>

<p><center></p>

<p><img src="http://github.com/19/plan/wiki/images/system-down.png" alt="system" title="" /></p>

<p></center></p>

<ul>
<li>Sistemde dönemler var, ama; aktif değilse:</li>
</ul>

<p><center></p>

<p><img src="http://github.com/19/plan/wiki/images/system-warning.png" alt="system" title="" /></p>

<p></center></p>

<ul>
<li>Sistemde dönem aktif ve giriş yapılıyorsa:</li>
</ul>

<p><center></p>

<p><img src="http://github.com/19/plan/wiki/images/system-up.png" alt="system" title="" /></p>

<p></center></p>

<h2>Sisteme Giriş</h2>

<p>Sisteme her bölüme ait bir yönetici giriş yapar.</p>

<p><center></p>

<p><img src="http://github.com/19/plan/wiki/images/login.png" alt="login" title="" /></p>

<p></center></p>

<p>Eğer sistemde giriş adınız ve şifreniz doğru olduğu halde giriş yapamayıp
aşağıdaki gibi bir hata alıyorsanız; sistemde <strong>aktif dönem</strong> yoktur. Sistem
yöneticisi ile irtibata geçiniz. Ve durumu anasayfanın sağ alt köşesinden takip
ediniz.</p>

<p><center></p>

<p><img src="http://github.com/19/plan/wiki/images/login-error.png" alt="login" title="" /></p>

<p></center></p>

<h2>Yönetim Paneli</h2>

<p><img src="http://github.com/19/plan/wiki/images/management-panel.png" alt="management-panel" title="" /></p>

<p>Yönetim panelinde 4 menü vardır.</p>

<h3>Öğretim Üyesi</h3>

<ul>
<li><strong>Ekle:</strong> Yönetici, sistem açıldığından itibaren kendi bölümüne veya fakülte
dışı(diğer fakülteler) kısmına öğretim üyesini ekleme olanağı sağlar.</li>
</ul>

<p><img src="http://github.com/19/plan/wiki/images/management-lectureradd.png" alt="management-lectureradd" title="" /></p>

<ul>
<li><strong>İncele:</strong> Yönetici, kendi bölümüne ait öğretim üyelerini
inceler/düzenler/siler. <strong>Silme işlemini eğer herhangi bir öğretim üyesinin
bir defa dahi olsa sistemde ders programı hazırlanmış ise silinemez.</strong></li>
</ul>

<p><img src="http://github.com/19/plan/wiki/images/management-lecturerreview.png" alt="management-lecturerreview" title="" /></p>

<h3>Ders</h3>

<ul>
<li><strong>Ekle:</strong> Yönetici, sistem açıldığından itibaren kendi bölümüne dersler ekler.</li>
</ul>

<p><img src="http://github.com/19/plan/wiki/images/management-courseadd.png" alt="management-courseadd" title="" /></p>

<ul>
<li><strong>İncele:</strong> Yönetici, kendi bölümüne ait dersleri inceler/düzenler/siler.
<strong>Silme işlemini eğer herhangi bir ders bir defa dahi olsa sistemde ders
programı hazırlanmış ise silinemez.</strong></li>
</ul>

<p><img src="http://github.com/19/plan/wiki/images/management-coursereview.png" alt="management-coursereview" title="" /></p>

<h3>Ders Ata</h3>

<ul>
<li><strong>Ekle:</strong> Yönetici, aktif olan döneme; kendi bölümünün derslerini istediği
öğretim üyelerine(tüm) atama yaparak kimin hangi dersi vereceğini belirler.</li>
</ul>

<p><img src="http://github.com/19/plan/wiki/images/management-assignmentadd.png" alt="management-assignmentadd" title="" /></p>

<ul>
<li><strong>İncele:</strong> Yönetici, aktif olan dönemde; kendi bölümünün derslerinin hangi
öğretim üyesinin verdiğini inceler/düzenler/siler. <strong>Silme İşlemini yaparken
eğer o dönem; ders programı'da hazırlanmışsa o ders programıda silinir.
Silinmeden önce sorar.</strong></li>
</ul>

<p><img src="http://github.com/19/plan/wiki/images/management-assignmentreview.png" alt="management-assignmentreview" title="" /></p>

<h3>Ders Programı</h3>

<ul>
<li><strong>Ekle:</strong> Yönetici, aktif olan döneme; kendi bölümünün derslerini atandığı
öğretim üyesinin haftalık programdan sınıf ve gününü seçerek hazırlar.</li>
</ul>

<p><img src="http://github.com/19/plan/wiki/images/management-scheduleadd.png" alt="management-scheduleadd" title="" /></p>

<ul>
<li><strong>İncele:</strong> Yönetici, aktif olan döneme; kendi bölümünün derslerini atandığı
öğretim üyesinin haftalık programı hazır olanları inceler/siler.</li>
</ul>

<p><img src="http://github.com/19/plan/wiki/images/management-schedulereview.png" alt="management-schedulereview" title="" /></p>

<p id=errorline>Update:2012-01-27 11:03:12 +0200</p>
