<link href="/stylesheets/global.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC' rel='stylesheet' type='text/css'>

<h2><span class="highlight" style="font-size:19px">Program Arama Sistemi</span> Nedir ?</h2>

Program arama sistemi, <%= link_to "akademisyen giriş", "http://rails.ecylmz.com/user" %> paneli ile manuel bilgi girişi sağlar.<br/>
Her öğretim elamanı için; haftalık, hangi gün hangi saate dersi olduğu, bilgilerini barındıran ders programı bilgisini sunar.<br/>
Her sınıf için; haftalık, hangi dersin kimin tarafından yapılacağı bilgisini sunar.<br/>

<h2><span class="highlight" style="font-size:19px">Akademisyen Giriş Paneli</span> Nedir ?</h2>

Program arama sistem sayfasının sağ üst köşesinden <b>"Akedemisyen Giriş"</b>i yazan kısmında giriş yapılır. Bu panele her giren bölüm yöneticisi<br/>
kendi bölümüne öğretim elamanlarını,  bölümüne ait dersleri ekler. Ve her dönem hangi dersin kimin tarafından  verileceğini<br/>
hangi gün saat kaçta olacağını belirler.

<!-- slide -->
<!-- kaynak : http://www.htmldrive.net/items/show/1069/Auto-Scroll-News-Ticker-with-jQuery  -->
<div id="textslide">
  <h2>Duyurular</h2>
  <ul id="ticker" class="ticker">
    <% Notice.find(:all).each do |notice| %>
      <li><%= notice.content %></li>
    <% end %>
  </ul>
</div>

<script>
  function tick(){
    $('#ticker li:first').slideUp( function () { $(this).appendTo($('#ticker')).slideDown(); });
  }
  setInterval(function(){ tick () }, 3000);
</script>
<!-- end slide -->
