<style>
  ul.recent li { margin: 0 0 12px; line-height: 15px; }
  ul.recent li h5 { font-size: 13px; line-height: 15px; }
  ul.recent li h5 a { font-weight: bold; }
  ul.recent li small, ul.recent li small a { color: #999 !important; }
  ul.recent li small a:hover { color: #555 !important; }
  ul.recent li small span { padding: 0 3px; color: #ccc; font-size: 100%; }

  ul.recent.comments li { color: #999; }

  ul.photos { margin: 9px 0 18px -10px; }
  ul.photos li { display: inline; }
  ul.photos a { display: inline; float: left; margin: 0 0 9px 10px; line-height: 1; text-decoration: none; }
  ul.photos img { display: block; margin: 0 0 5px; padding: 4px; border: 1px solid #ccc; border-color: rgba(0,0,0,.25); -moz-border-radius: 5px; -moz-box-shadow: 0 1px 3px rgba(0,0,0,.15); -webkit-border-radius: 5px; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.15); -webkit-transition: all 0.15s ease-out; }
  ul.photos a:hover img { border-color: #999; border-color: rgba(201,2,92,.5); -moz-box-shadow: 0 0 5px rgba(201,2,92,.5); -webkit-box-shadow: 0 0 5px rgba(201,2,92,.5); }
  ul.photos li h5 { font-size: 14px; }
  ul.photos.small { margin-left: -15px; }
  ul.photos.small a { margin: 0 0 14px 15px; }
  ul.photos.medium, ul.photos.large { margin-left: -20px; }
  ul.photos.medium a, ul.photos.large a { margin: 0 0 18px 20px; }
  ul.photos.medium img { width: 90px; height: 90px; }
  ul.photos.large img { width: 162px; height: 162px; }
  ul.photos.xlarge img { width: 210px; height: 210px; }
</style>
him
<% 1600.times do |i| %>
<%="m"%>
<% end %>
<h2 id="headline"></h2>

<!-- face -->
  <div id="fb-root" style="margin-top: 10px;"></div>
  <script>
    (function(d){
      var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        d.getElementsByTagName('head')[0].appendChild(js);
        }(document));
  </script>
  <div class="fb-like-box"
    data-href="http://www.facebook.com/omu.mf"
    data-width="292"
    data-show-faces="false"
    data-stream="false"
    data-header="true"
    data-lang="tr"
    >
  </div>
<!-- end face -->

<!-- twitter -->
<div style="margin-top:-40px;margin-left:700px;">
  <a href="http://twitter.com/omu_mf" class="twitter-follow-button" data-lang="tr">Follow @omu_mf</a>
  <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
</div>
<!-- end twitter -->
<div style="margin-top:-60px;">
  <ul class="recent photos" style="margin-left:340px;">
    <li><a href="http://bil.omu.edu.tr" title="Bilgisayar Mühendisliği"> 
      <%= image_tag "/images/19-normal-57x57.png" %>
    </a></li>
    <li><a href="http://ondokuz.biz" title="Ondokuz Biz"> 
      <%= image_tag "/images/biz-normal-57x57.png" %>
    </a></li>
  </ul>

  <br/><br/><br/><br/><br/>
  <a href="http://ondokuz.biz/209/yonerge/" style="margin-left:-150px;">
      copyright &copy; 2011 ondokuz.biz
  </a>
</div>
<h2 id="headline"></h2>
