<% if flash[:error] %>
  <div id="notice">
    <div class="error">
      <h3 id="errorline">Bir problemimiz var!</h3>
      <%= flash[:error] %>
    </div>
  </div>
<% end %>

<% if flash[:success] %>
  <div id="notice">
    <div class="success">
      <h3 id="successline">Bir başarı iletisi var</h3>
      <%= flash[:success] %>
    </div>
  </div>
<% end %>
