<ul class="altnav">
  <li><a class="home" href="home">Ana Sayfa</a></li>
  <li><a class="lecturer">Öğretim Üyesi</a>
    <ul>
      <li><a class="list" href="lecturerreview">Listele</a></li>
      <li><a class="new" href="lecturernew">Ekle</a></li>
    </ul>
  </li>
  <li><a class="course">Ders</a>
    <ul>
      <li><a class="list" href="coursereview">Listele</a></li>
      <li><a class="new" href="coursenew">Ekle</a></li>
    </ul>
  </li>
  <li><a class="assignment">Ders Ata</a>
    <ul>
      <li><a class="list" href="assignmentreview">Listele</a>
      <li><a class="new" href="assignmentnew">Ekle</a></li>
    </ul>
  </li>
  <li><a class="schedule">Ders Programı</a>
    <ul>
      <li><a class="list" href="schedulereview">Listele</a></li>
      <li><a class="new" href="schedulenew">Ekle</a></li>
    </ul>
  </li>
</ul>
