<style>
	#content{ margin:auto auto; margin-top:8%;width:400px;}
	p.fail{ margin-top: 150px auto -84px;}
</style>
<div id="login">
	<% form_tag :action => 'find' do %>
	<table class="login">
	<tr>
		<td class="label"> İsim: </td>
		<td class="field">
			<%= text_field_tag :name %>
		</td>
	</tr>
	<tr>
		<td class="label"> Şifre: </td>
		<td class="field">
			<%= text_field_tag :pass %>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<%= submit_tag "Giriş Yap", :id => "submit_button" %>
		</td>
	</tr>
	</table>
	<% end %>
</div>


