<h2>Duyuru Düzenle</h2>
<%= form_tag({ :action => 'noticeupdate' }, :multipart => true) do %>
  <table class="custom">
  <tr>
    <td class="label">İçerik</td>
    <td class="field"><textarea name="content" ><%= @notice.content %></textarea></td>
  </tr>
  <tr>
    <td></td>
    <td><%= submit_tag "Güncelle", :id => "submit_button" %></td>
  </tr>
  </table>
<% end %>
