<!-- dual listbox -->
<script src="/assets/jquery-latest.js"></script>
<!-- end dual listbox -->

<h2><%= session[:department] %> Bölümü Öğretim Üyesi Programını Ayarla</h2>
<%= form_tag({ :action => 'scheduleselect' }) do %>
  <table class="custom" style="margin-left:15px">
    <tr>
      <td class="label">Dersler</td>
      <td>
        <select id="course_ids" name="course_ids">
          <% @assignments.each do |lecturers, course| %>
            <option value="<%= lecturers %>" selected>
            <%= course %>
            </option>
          <% end %>
        </select>
      </td>
    </tr>
    <p id="select_course_id"></p>
    <tr>
      <td class="label">Öğretim Üyesi</td>
      <td>
        <select id="lecturer_id" name="lecturer_id">
        </select>
        <input class="button" type='submit' value='Seç'/>
      </td>
    </tr>
  </table>
<% end %>

<!-- dual listbox -->
<script>
  $("#course_ids").change(function () {
    var part = $(this).val().split('#');
    if (part[0] != "") {
      if (part[0].indexOf(';') >= 0)
      var ham_hocalar = part[0].split(';');
      else
      var ham_hocalar = [part[0]];

      var course_id = part[1];
      var hocalar = "";
      for (var i = 0; i < ham_hocalar.length; i++) {
        hoca = ham_hocalar[i].split(',');
        if (hoca[1] != undefined)
        hocalar +=  "<option value='"+ hoca[0] +"'>" + hoca[1] + "</option>";
      }
      $("#lecturer_id").html(hocalar);
      $("#select_course_id").html("<input type='hidden' id='course_id' name='course_id' value='" + course_id + "'/>");
    }
  })
  .trigger('change');
</script>
<!-- end dual listbox -->
