@import url(custom.css);      /* table.custom */
@import url(button.css);      /* submit_button */
@import url(buttons.css);     /* github buttons */
@import url(flash.css);       /* notice */
@import url(style.css);
@import url(page-header.css);
@import url(local.css);
@import url(image-box.css);   /* 19 logosu kutusu için */
@import url(main-sidebar.css);
@import url(status.css);
@import url(nav-up-down.css); /* uzayıp giden sayfalar için */
